SECRET_KEY=h=exel9ix$2#nsy36@v-2b7qsjvndd4du7hm6ft$a-ow2-zpu^
ALLOWED_HOSTS=localhost,127.0.0.1
# DATABASE_URL= postgresql://neondb_owner:npg_Q0WfzHM6YrZn@ep-small-cloud-b5d5xotp-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ALLOWED_ORIGINS=http://localhost:3000
DEBUG=True

DATABASE_URL=postgresql://postgres:root@localhost:5432/medtwin
REDIS_URL=redis://localhost:6379/0
